.d-header{
	max-width: 100%;
	.header{
		border: 1px solid #979797;
		background-color: #D8D8D8;
		background-image: url("https://static.pexels.com/photos/655677/pexels-photo-655677.jpeg");
		height: 600px;
		display: flex;
		justify-content: center;
		align-items: center;	
	
		&__section{
			background-color: #C5D0D4;
			&__img{
				border-radius: 100%;
			}
		}
		top: 0;
	}

}


